@Styles.Render("~/Content/About.css")
    <div class="wrapper">
        <div class="info1">
            <p>We are committed to providing the time and financial relief that professionals need so they can arrange appointments, inform patients, and deliver top-notch patient care.</p>

        </div>
        <div class="info2">
            <h2>Our Mission​</h2>
            <img class="img2" src="~/Content/assets/petimages.jpg">
            <div class="info3">
                <p>
                    Our team is committed to educating our clients on how to provide their pets with the best nutrition and activity to keep them healthy throughout the year.
                </p>
            </div>
        </div>
        <div class="info4">
            <h2>Our Vision​</h2>
            <img class="img3" src="~/Content/assets/petimage2.jpg">
            <div class="info5">
                <p>
                    Our team is devoted to patiently and compassionately responding to each pet owner's inquiries and worries regarding their pet's health and wellbeing.
                </p>
            </div>
        </div>
        <div class="info2">
            <h2>Our Principles​</h2>
            <img class="img2" src="~/Content/assets/petimages3.jpg">
            <div class="info3">
                <p>
                    We have 5 essential factors that are strictly important to the behalf of maintain our mission. Those are quality, responsibility, mutuality, efficiency and freedom.
                </p>
            </div>
        </div>
    </div>