@Styles.Render("~/Content/Home.css")
    <div class="wrapper">
        <div class="hero-image">
            <div class="hero-text">
                <h1>
                    <p class="title">Pet Care is Our Passion</p>
                </h1>
                <input type="submit" class="btn-submit" value="Make An Appointment" onClick="myFunction()" />
                
            </div>
        </div>
    </div>
@Scripts.Render("~/Scripts/Home.js")